@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

/*.logo-image {
  width: 50px; 
  height: auto; 
  max-width: 100%; Ensure it doesn't exceed the container
}


.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* styles/index.css
.summarySection {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  text-align: center;
}

.aboutButton {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
} */

.about-section-one, .about-section-two, .team-section, .testimonials {
  padding: 20px;
  margin: 20px 0;
}

.about-section-one h2, .about-section-two h2, .team-section h2, .testimonials h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-section-one p, .about-section-two p, .team-section p, .testimonials p {
  font-size: 16px;
  line-height: 1.5;
}

.team-members, .testimonials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}